{% extends "base.html" %}

{% block title %}Changelog{% endblock %}

{% block content %}

<h1>Changelog</h1>

<h2>v1.14<small> 4/20/13</small></h2>
<ul>
  <li>Search now includes category names.
    <ul>
      <li>Search queries like "manlytomb music" behave as expected.</li>
    </ul>
  </li>
</ul>

<h2>v1.13<small> 4/19/13</small></h2>
<ul>
  <li>Changed url scheme for file details.
    <ul>
      <li>Permalinks to all file details pages have been broken.</li>
      <li>Disqus comment threads have been reset.</li>
    </ul>
  </li>
  <li>Torrents must now be created exclusively for udp://tracker.gilgi.org:6969/announce.</li>
</ul>

<h2>v1.12<small> 4/18/13</small></h2>
<ul>
  <li>Added file deletion functionality.</li>
</ul>

<h2>v1.11<small> 4/18/13</small></h2>
<ul>
  <li>Added file search functionality.</li>
</ul>

<h2>v1.10<small> 4/18/13</small></h2>
<ul>
  <li>Added Dropbox direct download support.</li>
</ul>

<h2>v1.05<small> 4/18/13</small></h2>
<ul>
  <li>Fixed another scraping bug.</li>
  <li>Various performance improvements.</li>
</ul>

<h2>v1.04<small> 4/18/13</small></h2>
<ul>
  <li>Torrent lists are now sortable.</li>
</ul>

<h2>v1.03<small> 4/18/13</small></h2>
<ul>
  <li>Added Disqus comments.</li>
  <li>Torrents now sort from newest to oldest by default.</li>
</ul>

<h2>v1.02<small> 4/17/13</small></h2>
<ul>
  <li>Data in the leechers and downloads columns is now no longer reversed.</li>
</ul>

<h2>v1.01<small> 4/16/13</small></h2>
<ul>
  <li>Added timestamps to frontend.</li>
</ul>

<h2>v1.00<small> 4/16/13</small></h2>
<ul>
  <li>Initial release.</li>
</ul>

{% endblock %}