{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

<h1>{{ page_title|title}}</h1>

{% if torrent_list %}
<table id="torrenttable" class="table table-bordered table-striped tablesorter">
  <thead>
    <tr>
      <th>Name</th>
      <th>Added By</th>
      <th>Added</th>
      <th>Magnet Link</th>
      <th>Seeders</th>
      <th>Leechers</th>
      <th>Downloads</th>
    </tr>
  </thead>
  <tbody>
    {% for torrent in torrent_list %}
    <tr>
      <td><a href="{% url 'torrent' pk=torrent.pk %}">{{ torrent.title }}</td>
      <td>{{ torrent.user.username }}</td>
      <td>{{ torrent.added|date:"Y-m-d H:i:s" }}</td>
      <td><a class="btn btn-success btn-mini" href="{{ torrent.magnet_link }}">Download</a></td>
      <td>{{ torrent.info.seeders }}</td>
      <td>{{ torrent.info.leechers }}</td>
      <td>{{ torrent.info.downloads }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>There are no torrents yet.</p>
{% endif %}

<script>
$(document).ready(function() 
    { 
        $("#torrenttable").tablesorter( {sortList: [[2,1]]} ); 
    } 
); 
</script>

{% endblock %}