{% extends "base.html" %}

{% block title %}changelog{% endblock %}

{% block content %}

<h1>Changelog</h1>

<h2>Proposed Changes</h2>
<ul>
  <li>Search functionality.</li>
  <li>Pagination support.</li>
</ul>

<h2>v1.02<small> 4/17/13</small></h2>
<ul>
  <li>Data in the leechers and downloads columns is now no longer reversed.</li>
</ul>

<h2>v1.01<small> 4/16/13</small></h2>
<ul>
  <li>Added timestamps to frontend.</li>
</ul>

<h2>v1.00<small> 4/16/13</small></h2>
<ul>
  <li>Initial release.</li>
</ul>

{% endblock %}