{% extends "base.html" %}

{% load dictionary %}

{% block title %}shk - my IOUs{% endblock %}

{% block content %}

<p>My Contracts</p>

<p>Contracts Issued to Me</p>

{% if contractsToMe %}
<table border="1">
  <tr>
    <th>Quantity</th>
    <th>Type</th>
    <th>Destination</th>
    <th>Timeout</th>
  </tr>
  {% for contract in contractsToMe %}
  <tr>
    <td>{{ contract.qty }}</td>
    <td>{{ contract.type }}</td>
    <td>{{ contract.recipient }}</td>
    <td>{{ contract.timeout }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>You have no contracts to fulfill.</p>
{% endif %}

<p>Contracts Issued by Me</p>

{% if contractsByMe %}
<table border="1">
  <tr>
    <th>Quantity</th>
    <th>Type</th>
    <th>Destination</th>
    <th>Sender</th>
    <th>Timeout</th>
    <th>Complete</th>
    <th>Fail</th>
  </tr>
  {% for contract in contractsByMe %}
  <tr>
    <td>{{ contract.qty }}</td>
    <td>{{ contract.type }}</td>
    <td>{{ contract.recipient }}</td>
    <td>{{ contract.sender }}</td>
    <td>{{ contract.timeout }}</td>
    <td><a href="{% url complete contract.id %}">Complete Contract</a></td>
    <td>
      {% if failable|lookup:contract.id %}
      <a href="{% url fail contract.id %}">Report Failure</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>You have no active contracts issued.</p>
{% endif %}

{% endblock %}