{% extends "base.html" %}

{% block title %}shk - my IOUs{% endblock %}

{% block content %}

<p>My IOUs</p>

<p>IOUs Held</p>

{% if iousHeld %}
<table border="1">
  <tr>
    <th>Quantity</th>
    <th>Type</th>
    <th>Issuer</th>
    <th>Recall</th>
  </tr>
  {% for iou in iousHeld %}
  <tr>
    <td>{{ iou.qty }}</td>
    <td>{{ iou.type }}</td>
    <td>{{ iou.issuer }}</td>
    <td><a href="{% url recall iou.id %}">Recall IOU</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>You currently hold no IOUs.</p>
{% endif %}

<p>IOUs Issued</p>

{% if iousIssued %}
<table border="1">
  <tr>
    <th>Quantity</th>
    <th>Type</th>
    <th>Holder</th>
  </tr>
  {% for iou in iousIssued %}
  <tr>
    <td>{{ iou.qty }}</td>
    <td>{{ iou.type }}</td>
    <td>{{ iou.holder }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>You currently have no IOUs outstanding.</p>
{% endif %}

{% endblock %}