{% extends "base.html" %}

{% load dictionary %}

{% block title %}shk - market{% endblock %}

{% block content %}

<h1>Stronghold Kingdoms Market</h1>

<div class="row">
  <!-- Exchange -->
  <div class="span6">
<h2>Exchange
<small style="float:right;">
<a class="btn btn-primary" href="{% url create 1 1 %}">Create New Contract</a>
</small>
</h2>

<h3>Available Contracts</h3>

{% if contracts %}
<table class="table table-bordered table-striped">
  <tr>
    <th>Offering</th>
    <th>For</th>
    <th>Accept</th>
  </tr>
  {% for contract in contracts %}
  <tr>
    <td>
      <ul>
        {% for bundle in sendBundles|lookup:contract.id %}
        <li>{{ bundle.qty }} {{ bundle.type }}</li>
        {% endfor %}
      </ul>
    </td>
    <td>
      <ul>
        {% for bundle in receiveBundles|lookup:contract.id %}
        <li>{{ bundle.qty }} {{ bundle.type }}</li>
        {% endfor %}
      </ul>
    </td>
    <td><a class="btn btn-success btn-mini" href="{% url accept contract.id %}">Accept Contract</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>There are currently no contracts available.</p>
{% endif %}

<h3>My Contracts</h3>

{% if myContracts %}
<table class="table table-bordered table-striped">
  <tr>
    <th>Offering</th>
    <th>For</th>
    <th>Cancel</th>
  </tr>
  {% for contract in myContracts %}
  <tr>
    <td>
      <ul>
        {% for bundle in mySendBundles|lookup:contract.id %}
        <li>{{ bundle.qty }} {{ bundle.type }}</li>
        {% endfor %}
      </ul>
    </td>
    <td>
      <ul>
        {% for bundle in myReceiveBundles|lookup:contract.id %}
        <li>{{ bundle.qty }} {{ bundle.type }}</li>
        {% endfor %}
      </ul>
    </td>
    <td><a class="btn btn-danger btn-mini" href="{% url cancel contract.id %}">Cancel Contract</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>You haven't issued any contracts.</p>
{% endif %}
  </div> <!-- /span6 -->
  <!-- IOUs -->
  <div class="span6">
<h2>My IOUs</h2>

<h3>IOUs Held</h3>

{% if iousHeld %}
<table class="table table-bordered table-striped">
  <tr>
    <th>Quantity</th>
    <th>Type</th>
    <th>Issuer</th>
    <th>Recall</th>
  </tr>
  {% for iou in iousHeld %}
  <tr>
    <td>{{ iou.qty }}</td>
    <td>{{ iou.type }}</td>
    <td>{{ iou.issuer }}</td>
    <td><a class="btn btn-primary btn-mini" href="{% url recall iou.id %}">Recall IOU</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>You currently hold no IOUs.</p>
{% endif %}

<h3>IOUs Issued</h2>

{% if iousIssued %}
<table class="table table-bordered table-striped">
  <tr>
    <th>Quantity</th>
    <th>Type</th>
    <th>Holder</th>
  </tr>
  {% for iou in iousIssued %}
  <tr>
    <td>{{ iou.qty }}</td>
    <td>{{ iou.type }}</td>
    <td>{{ iou.holder }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>You currently have no IOUs outstanding.</p>
{% endif %}
  </div> <!-- /span6 -->
</div> <!-- /row -->
<div class="row">
  <!-- Contracts -->
  <div class="span12">
<h2>My Contracts</h2>

<h3>Contracts Issued to Me</h3>

{% if contractsToMe %}
<table class="table table-bordered table-striped">
  <tr>
    <th>Quantity</th>
    <th>Type</th>
    <th>Destination</th>
    <th>Timeout</th>
  </tr>
  {% for contract in contractsToMe %}
  <tr>
    <td>{{ contract.qty }}</td>
    <td>{{ contract.type }}</td>
    <td>{{ contract.recipient }}</td>
    <td>{{ contract.timeout }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>You have no contracts to fulfill.</p>
{% endif %}

<h3>Contracts Issued by Me</h3>

{% if alert %}
<div class="alert">
  <button class="close" data-dismiss="alert">&times;</button>
  <strong>Warning!</strong> Some of your contracts cannot be failed yet because their timeouts have yet to elapse.
</div>
{% endif %}

{% if contractsByMe %}
<table class="table table-bordered table-striped">
  <tr>
    <th>Quantity</th>
    <th>Type</th>
    <th>Destination</th>
    <th>Sender</th>
    <th>Timeout</th>
    <th>Complete</th>
    <th>Fail</th>
  </tr>
  {% for contract in contractsByMe %}
  <tr>
    <td>{{ contract.qty }}</td>
    <td>{{ contract.type }}</td>
    <td>{{ contract.recipient }}</td>
    <td>{{ contract.sender }}</td>
    <td>{{ contract.timeout }}</td>
    <td><a class="btn btn-success btn-mini" href="{% url complete contract.id %}">Complete Contract</a></td>
    <td>
      {% if failable|lookup:contract.id %}
      <a class="btn btn-danger btn-mini" href="{% url fail contract.id %}">Report Failure</a>
      {% else %}
      <a class="btn btn-danger disabled btn-mini" href="#">Report Failure</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>You have no active contracts issued.</p>
{% endif %}
  </div> <!-- /span12 -->
</div> <!-- /row -->

{% endblock %}