{% extends "base.html" %}

{% block title %}shk - recall goods{% endblock %}

{% block content %}

<h1>Create Recall Contract</h1>

<p>You are recalling up to {{iou.qty}} {{ iou.type }} from {{ iou.issuer }}.</p>

  {% if form.errors %}
    <p>
      Please correct the error{{ form.errors|pluralize }} below.
    </p>
  {% endif %}

  <form action="" method="post">{% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input class="btn btn-primary" type="submit" value="Recall">
  </form>
{% endblock %}