{% extends "base.html" %}

{% load dictionary %}

{% block title %}shk - my villages{% endblock %}

{% block content %}

<h1>My Villages
<small style="float:right;">
<a class="btn btn-primary" href="{% url addVillage %}">Add New Village</a>
</small>
</h1>

{% if alert %}
<div class="alert">
  <button class="close" data-dismiss="alert">&times;</button>
  <strong>Warning!</strong> Some of your villages cannot be removed because they are involved in active contracts.
</div>
{% endif %}

{% if villages %}
<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Remove</th>
  </tr>
  {% for village in villages %}
  <tr>
    <td>
      {{ village.name }}
    </td>
    <td>
      {% if deletable|lookup:village.id %}
      <a class="btn btn-danger btn-mini" href="{% url removeVillage village.id %}">Remove Village</a>
      {% else %}
      <a class="btn btn-danger disabled btn-mini" href="#">Remove Village</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>You haven't added any villages.</p>
{% endif %}

{% endblock %}